.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.center {
    text-align: center;
}

.section {
    padding: 5rem 0;
}
